// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.css';

#dropdownMenuButton {
  width: 300px;
  margin-bottom: 5px;
}
#datepicker {
  width: 120px;
}